<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AxBatchRunner.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AxBatchRunner.AxWrapper.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <AxBatchRunner.WindowsService.Properties.Settings>
      <setting name="BatchRunnerClass" serializeAs="String">
        <value>AxBatchRunner</value>
      </setting>
      <setting name="BatchRunnerMethod" serializeAs="String">
        <value>mainDo</value>
      </setting>
      <setting name="TimerInterval" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="CancelJobIfError" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="Configuration" serializeAs="String">
        <value>configuration.name</value>
      </setting>
      <setting name="ComPlusAppl" serializeAs="String">
        <value>Navision Axapta Business Connector</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>language</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>company.name</value>
      </setting>
      <setting name="BatchGroupId" serializeAs="String">
        <value>batch.group</value>
      </setting>
      <setting name="ObjectServer" serializeAs="String">
        <value>appl@aos:2715</value>
      </setting>
      <setting name="DAXVersion" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>appl@aos:2715</value>
      </setting>
    </AxBatchRunner.WindowsService.Properties.Settings>
  </applicationSettings>
</configuration>