<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console" layout="${date:culture=ru-ru}|${level}|${message}"/>
    <target name="console_full" xsi:type="Console" layout="${date:culture=ru-ru}|${level}|${stacktrace}|${message}"/>
    <target name="file" xsi:type="File" fileName="${basedir}/axbatchrunner.log" layout="${date:culture=ru-ru}|${level}|${message}"/>
    <target name="xml" xsi:type="File" fileName="${basedir}/axbatchrunner.logxml">
      <layout xsi:type="Log4JXmlEventLayout">
      </layout>
    </target>
    
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console, xml"/>
  </rules>
</nlog>

